.carrito{
    display:flexbox;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.button-rounded {
    min-width: 130px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 20px;
    border: 2px solid #cfbb58;
    background: #cfbb58;
  }
  .button-rounded:hover {
    background: #fff;
    color: #cfbb58
  }

  .link-no-decoration{
      text-decoration: none;
      
  }