.card{
    transition: 0.3s;
    width: 400px;
    height: 600px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    background: #f5efcc;
    box-shadow: 3px 8px 9px #bdb89d, 4px 3px 1px #fffffb;
}
  
  .button-rounded {
    min-width: 130px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 20px;
    border: 2px solid #cfbb58;
    background: #cfbb58;
  }
  .button-rounded:hover {
    background: #fff;
    color: #cfbb58
  }


  
  .link-centrado{
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    background-color: burlywood;
    width: 20%;
    margin-top: 5px;
  }
.link-no-decoration{
  text-decoration: none;
}
  .card-container {
    width: 400px;
  }

  .img-prod{
    height: 400px;
    width: 400px;
    margin-bottom: 5px;
  }