.navbar{
    display: flex; 
    justify-content: space-around;
    background-color: #583a13;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.navbar ul {
    list-style-type: none;
    text-decoration: none;
    display: flex;
    justify-content: space-around;
}

.navbar ul li {
    padding: 10px;
}
.navbar a:hover {
    color: rgb(224, 211, 95);
}

.navbar a{
    text-decoration: none;
    color:aliceblue;
}

.bubble-quantity{
    height: 0;
    position: relative;
    bottom: 55px;
    left: 30px;
}

.cart-container{
    height: 0;
    position: absolute;
    right: 1%;
}